<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Banking Dashboard</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="../styles/styles.css" />
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">M Brothers Bank</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item navFlex">
              <a class="nav-link" href="./accounts.html">
                <i class="bi bi-person-circle"></i>
                Accounts
              </a>
            </li>

            <li class="nav-item navFlex">
              <a class="nav-link" href="#">
                <i class="bi bi-credit-card"></i>Cards</a
              >
            </li>
            <li class="nav-item navFlex">
              <a class="nav-link" href="#">
                <i class="bi bi-currency-dollar"></i>Loans</a
              >
            </li>
            <li class="nav-item navFlex">
              <a class="nav-link" href="#">
                <i class="bi bi-arrow-left-right"></i>Transactions</a
              >
            </li>
          </ul>
        </div>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-box-arrow-right"></i>
              Logout
            </a>
          </li>
        </ul>
      </nav>
      <main class="min-vh-100">
        <div class="container">
          <!-- Información del cliente -->
          <div class="client-info">
            <h2>Welcome, {{ client.firstName + " " + client.lastName }}</h2>
          </div>

          <!-- Dashboard de banca -->
          <div
            class="d-flex flex-column justify-content-center align-items-center dashboard mb-4 gapContainer"
          >
            <h1 class="text-center">
              Banking Dashboard <i class="bi bi-house-lock-fill"></i>
            </h1>
            <div class="col-md-6">
              <div class="card balance-card">
                <h2>Client Information</h2>
                <p>Name: {{ client.firstName }}</p>
                <p>Last Name: {{ client.lastName }}</p>
                <p>Email: {{ client.email }}</p>
                <h2>Total Balance: ${{ totalBalance.toLocaleString()}}</h2>
              </div>
            </div>
            <h2>Accounts</h2>
            <div
              class="d-flex flex-row justify-content-center align-items-center gapContainer"
            >
              <div v-for="account of client.accounts">
                <!-- Información de la cuenta -->

                <div class="card balance-card">
                  <p>Account Number: #{{ account.number }}</p>
                  <h2>
                    Account Balance: ${{ account.balance.toLocaleString() }}
                  </h2>
                  <p>Creation Date: {{ account.creationDate }}</p>
                  <a
                    :href="'./account.html?id=' + account.id"
                    role="button"
                    class="btn btn-primary"
                    >Details</a
                  >
                </div>
              </div>
            </div>
            <h2>Loans information</h2>
            <div
              class="d-flex flex-row justify-content-center align-items-center gapContainer"
            >
              <div v-for="loan of client.loans">
                <!-- Información de los préstamos -->
                <div
                  v-if="client.loans.length>=1"
                  class="card balance-card loan-card"
                >
                  <h2>{{ loan.loanName }}</h2>
                  <p>Amount: ${{loan.amount.toLocaleString()}}</p>
                  <p># Payments: {{loan.payments}}</p>
                </div>
                <div v-else>
                  <h2>${{client.name}} does not have loans</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer>
        <div class="footer">
          <p>&copy; 2023 M Brothers Bank. All rights reserved.</p>
        </div>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../JS/accounts.js"></script>
  </body>
</html>
