body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  margin-top: 20px;
}

.card {
  min-height: 15rem;

  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  background-color: #007bff;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.navbar-nav .nav-link {
  color: #fff;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #0056b3;
}

.navbar-toggler-icon {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para el botón de Logout */
.nav-item .nav-link i {
  margin-right: 5px;
}

/* Styles for the client info section */
.client-info {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s;
}

.client-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.client-info:hover {
  background-color: #0056b3;
}

/* Styles for the total balance section */
.total-balance {
  background-color: #28a745;
  color: #fff;
  padding: 20px;
  border-radius: 35px;
  text-align: center;
  transition: background-color 0.3s;
}

.total-balance h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.total-balance:hover {
  background-color: #1d993d;
}

/* Styles for the Accounts section */
.accounts-section {
  background-color: #f0f0f0;
  padding: 20px;
}

.accounts-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.account-card {
  background: #0e335d;
  color: #edfaff;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s;
  margin: 10px;
  text-align: left;
}
.loan-card {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #0056b3;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.3s;
  margin: 10px;
}
.account-card h2 {
  font-size: 20px;
  font-weight: bold;
  color: #83e3ff;
}

/* Estilos en hover para las tarjetas de Accounts y Loans */
.account-card:hover,
.loan-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Styles for the main dashboard */
.dashboard {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

/* Styles for the footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.gapContainer {
  gap: 2rem;
}
.balance-card {
  background: linear-gradient(135deg, #0074e4, #0056b3);
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #0056b3;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.3s;
}

/* Añade un mayor contraste al texto en las tarjetas de saldo */
.balance-card h2,
.balance-card p {
  color: #fff;
}

/* Animación de escala en hover para las cartas de saldo */
.balance-card:hover {
  transform: scale(1.05);
}

/* Estilos de fuente personalizada para las cartas de saldo */
.balance-card h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.credit {
  color: green;
}

.debit {
  color: red;
}
.biSize {
  font-size: 3rem;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}
.details-button {
  background-color: #48d0ff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}

.details-button:hover {
  background-color: #83e3ff;
}
.navFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  z-index: 9999;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid blue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  z-index: 99999;
}

.credit-card {
  width: 300px;
  height: 180px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.card-logo {
  text-align: right;
}

.card-logo img {
  min-width: 4rem;
  max-width: 4rem;
  min-height: 4rem;
  max-height: 4rem;
}

.chip img {
  width: 50px;
  height: 2.5rem;
}

.card-type img {
  width: 60px;
}

.card-holder {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.cvv {
  font-weight: bold;
}
.expiration {
  font-size: 14px;
  text-align: center;
}

.credit-card,
.debit-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.credit-card:hover,
.debit-card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.credit-card-gold {
  background-color: #a6882e;
}
.credit-card-silver {
  background-color: #cfd2d4;
}
.credit-card-titanium {
  background-color: #80848c;
}

.textSecondary {
  color: #edfaff;
}

.loanStructure {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  border-bottom: #48d0ff solid 2px;
  gap: 1rem;
}
.loansText,
.accountsText {
  font-size: 20px; /* Tamaño de fuente */
  font-weight: bold; /* Peso de la fuente en negrita */
  color: #333; /* Color del texto (negro en este caso) */
  margin-top: 20px; /* Margen superior */
  text-align: left; /* Alineación del texto al centro */
}
.textBankingDash {
  font-size: 24px; /* Tamaño de fuente */
  font-weight: bold; /* Peso de la fuente en negrita */
  color: #007bff; /* Color del texto (azul en este caso) */
  margin-top: 20px; /* Margen superior */
  text-align: center; /* Alineación del texto al centro */
}
.mainForm {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #0056b3;
  max-height: 28rem;
  min-width: 15rem;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 7px 7px 10px 3px #24004628;
}

.formIndex {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 24px;
}

/*checkbox to switch from sign up to login*/
#chk {
  display: none;
}

/*Login*/
.login {
  position: relative;
  width: 100%;
  height: 100%;
}

.login label {
  margin: 25% 0 5%;
}

label {
  color: #fff;
  font-size: 2rem;
  justify-content: center;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.input {
  width: 100%;
  height: 40px;
  background: #e0dede;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
}

/*Register*/
.register {
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(5%);
  transition: 0.8s ease-in-out;
  min-height: 30rem;
}

.register label {
  color: #0056b3;
  transform: scale(0.6);
}

#chk:checked ~ .register {
  transform: translateY(-60%);
}

#chk:checked ~ .register label {
  transform: scale(1);
  margin: 10% 0 5%;
}

#chk:checked ~ .login label {
  transform: scale(0.6);
  margin: 5% 0 5%;
}
/*Button*/
.formIndex button {
  width: 85%;
  height: 40px;
  margin: 12px auto 10%;
  color: #fff;
  background: #007bff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.formIndex button:hover {
  background-color: #053c77;
}
.imgCards {
  max-width: 20rem;
  max-height: 25rem;
  display: flex;
  justify-content: end;
}

.containerIndex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4rem;
  margin: 2rem;
}
.containerMainBank {
  gap: 3rem;
}
.bankImg > img {
  max-width: 100%;
  max-height: 100%;
}
.registerImg {
  display: inline-block; /* Para que el contenedor abarque solo el tamaño de la imagen */
  border: 2px solid #007bff; /* Borde azul con un grosor de 2px */
  border-radius: 10px; /* Bordes redondeados */
  overflow: hidden; /* Oculta el desbordamiento de la imagen */
}
.registerImg:hover {
  transform: scale(1.1); /* Escala la imagen al 110% del tamaño original */
  transition: transform 0.3s ease; /* Agrega una transición suave */
}
/* Estilos para el botón */
.btnAccount {
  background-color: #007bff; /* Color de fondo azul (puedes personalizarlo) */
  color: #fff; /* Color del texto blanco (puedes personalizarlo) */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno para el botón */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  font-size: 16px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  transition: background-color 0.3s; /* Transición suave en el cambio de color de fondo */
}

/* Estilos al pasar el mouse sobre el botón */
.btnAccount:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse (puedes personalizarlo) */
}

/* Estilos al hacer clic en el botón */
.btnAccount:active {
  background-color: #003f80; /* Cambia el color de fondo cuando se hace clic (puedes personalizarlo) */
}
.btnAccountContainer {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-form-container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.custom-form-section {
  display: flex;
  flex-direction: column;
}
.custom-form-section > label {
  font-size: 1rem;
}

.custom-input-field {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 16px;
  color: #333; /* Color de texto oscuro para mejor legibilidad */
}

.custom-select-box {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 16px;
  color: #333; /* Color de texto oscuro para mejor legibilidad */
}

.custom-submit-button {
  background-color: #0056b3; /* Color de fondo más oscuro al hacer hover */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.custom-submit-button:hover {
  background-color: #003f80; /* Cambio de color de fondo al hacer hover */
}
.active-link {
  color: black !important;
}
.red {
  color: red;
}
.green {
  color: green;
}
.amountColor {
  color: black;
  font-style: oblique;
}
.logo > img {
  max-width: 5rem;
  max-height: 5rem;
}
.bank-section {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
}

.bank-promo {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
}

.bank-promo img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 15px;
}

.bank-promo h2 {
  color: #005a97;
  font-size: 24px;
  margin-bottom: 10px;
}

.bank-promo p {
  font-size: 16px;
  line-height: 1.6;
}

.bank-promo .promo-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #005a97;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 15px;
}

.bank-promo .promo-button:hover {
  background-color: #003f6b;
}

.benefit-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

.benefits-list {
  list-style: none;
  padding: 0;
}

.benefits-list li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.welcome-header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 50px;
  font-size: 2.5rem;
  color: #003f6b;
  animation: fadeIn 2s ease-in-out;
}
.registerImg {
  max-width: 100%;
  max-height: 100%;
}
.gap3 {
  gap: 3rem;
}
.expiredC {
  text-decoration: line-through;
  color: red;
}
.cardExpired {
  background-color: red;
  color: white;
}
.btnAccountContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.radio-option {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

input[type="radio"] {
  margin-right: 10px;
  cursor: pointer;
}

.labelModal {
  font-size: 16px;
  color: #333;
  cursor: pointer;
}
.accountBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Estilo base para los botones */
.bank-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 0.5rem;
}

/* Estilo para el botón de Agregar */
.add-payment {
  background-color: #0056b3; /* Color principal */
}

.add-payment:hover {
  background-color: #003f80; /* Color al pasar el ratón */
}

/* Estilo para el botón de Resetear */
.reset-payments {
  background-color: #d33; /* Color de alerta */
}

.reset-payments:hover {
  background-color: #b22; /* Color al pasar el ratón */
}

/* Ajustes para la disposición de los botones */
.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gap1 {
  gap: 1rem;
}
